.blog-musica{
  width: 100%;
  height: 100%;
  background-color: red;
}
.img-logo{
  width: 200px;
  margin-left: 5%;
  margin-top: 15%;
  margin-bottom: 2.5;

}
.imagenes{
  display: flex;
  margin-top: 9.6%;
  margin-bottom: 2.5%;
  margin-left: 10%;
}
.vacio{
  margin-bottom: 1%;
}
